{% extends "main/layouts/base.html" %}

{% block title %}
<title>FAQ</title>
{% endblock %}

{% block content %}
{% load static %}
<div class="container mx-auto mt-5">
    <div class="px-2">
        <center>
            <img src="{% static 'img/logo.png' %}" width="250" height="250">
        </center>
        <p class="text-4xl text-center mb-2">FAQ</p>
        <p class="text-lg font-bold">1. Apa Itu SUCI?</p>
        <p class="font-lg">Web ini dibuat menggunakan SUCI. Apa itu SUCI? SUCI adalah project open source yang bisa kamu cek di https://github.com/salismazaya/SUCI. Dibuat untuk memudahkan para content creator untuk mengumpulkan donasi/charity. Tidak hanya untuk charity kamu juga bisa menggunakan SUCI untuk keuntungan pribadi ^_^.</p>
        <p class="text-lg font-bold mt-2">2. Kenapa Harus Menggunakan SUCI?</p>
        <p>SUCI dibuat bukan untuk keuntungan author. Jadi author membuatnya sebisa mungkin "tanpa pajak". Dengan menggunakan SUCI dana yang dikirim donatur akan langsung masuk ke payment gateway kamu tanpa campur tangan author ^_^.</p>
        <p class="text-lg font-bold mt-2">3. Untuk Siapa SUCI Dibuat?</p>
        <p>Tidak hanya untuk streamer/content creator SUCI bisa dipakai siapa saja ^_^.</p>
    </div>
</div>
{% endblock %}