{% extends "main/layouts/base.html" %}

{% block title %}
<title>Live Total Donation</title>
{% endblock %}

{% block style %}
<style>
    body {
        background-color: rgba(0, 0, 0, 0) !important;
    }
</style>
{% endblock %}

{% block content %}
<div class="px-1 py-1 rounded text-5xl text-white px-3 py-3 bg-red-600">
    <center>
        <span>{{milestone_title}}</span><br>
        <span id="total">Rp. 0</span>
    </center>
</div>
{% endblock %}

{% block script %}
<script>
    function convertToRupiah(angka){
        let rupiah = '';		
        let angkarev = angka.toString().split('').reverse().join('');
        for(let i = 0; i < angkarev.length; i++) if(i%3 == 0) rupiah += angkarev.substr(i,3)+'.';
        return 'Rp. '+rupiah.split('',rupiah.length-1).reverse().join('');
    }

    $(document).ready(() => {
        const total = $('#total');
        $.ajax({
            url: '{% url "api-milestone" %}',
            type: 'GET',
            success: (data) => {
                total.html(convertToRupiah(data))
            },
          });
      
          setInterval(() => {
            $.ajax({
              url: '{% url "api-milestone" %}',
              type: 'GET',
              success: (data) => {
                total.html(convertToRupiah(data))
              },
            });
          }, 60000);
    });
</script>
{% endblock %}